<%= render 'header'%>
<%= link_to 'New Project', new_project_path %>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row col row-cols-sm-2 row-cols-md-3 g-3">
      <% unless @projects.present? %>
        <h3>Pas de projet validé à ce jours</h3>
      <% end %>
      <% @projects.each do |project| %>
        <div class="col">
          <div class="card shadow-sm">
            <%=cl_image_tag project.picture.key%>
            <div class="card-body">
              <h3><%= project.title %></h3>
              <p class="card-text"><%= project.description %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to 'Show', project ,class:"btn btn-sm btn-outline-secondary"%>
                  <a href="<%=project.url%>" class="btn btn-sm btn-outline-secondary">Aller sur le site</a>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
