<%= render 'header'%>
<%= render 'body'%>
<%= render 'skills'%>
<% if current_user %>
  <%= link_to 'New Project', new_project_path,class:"btn btn-warning my-3 " %>
<% end %>
<%= render 'projects'%>
<%# <%= render 'messages/new'%> %>
<script>
  let buttonClick = document.querySelector("body > main > section > div > div > i")
  let userLogin = document.querySelector("body > nav > div > a")
  function onClickUserLogin() {
    userLogin.classList.toggle("d-none");
  }
  buttonClick.addEventListener("click", onClickUserLogin);
</script>
</div>
