<%= render 'header'%>
<%=render 'body'%>
<%= link_to 'New Project', new_project_path,class:"btn btn-warning my-3 " %>
<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <% unless @projects.present? %>
        <h3>Pas de projet validé à ce jours</h3>
      <% end %>
      <% @projects.each do |project| %>
        <div class="col-lg-4 col-sm-12 portfolio-item rounded">
          <div class="card h-100 ">
            <% if project.picture.attached?%>
              <%= image_tag project.picture,class:"card-img-top"%>
            <% end %>
            <!-- Card content -->
            <div class="card-body">
              <h4 class="card-title">
                <%= truncate(project.title, length: 50) %></h4>
            </div>
            <p class="card-text"><%= truncate(project.description, length: 100) %></p>
            <!-- Button -->
            <%= link_to  "En lire plus", project_path(project.id),class:'btn btn-warning' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
</div>
