<p id="notice"><%= notice %></p>
<p>
  <%= cl_image_tag @project.picture.key if @project.picture.attached?%>
</p>
<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>
<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>
<p>
  <strong>Url:</strong>
  <%= @project.url %>
</p>
<%= link_to 'Back', projects_path %>
